/* required to keep content out of sidenav */
#content,
#flashbar
{
    padding-left: 150px;
    /*or 300*/
}


@media only screen and (max-width : 992px) {

    
    #content
    {
        padding-left: 0;
    }
}
/* copied from materialize sidenav-fixed code */


/* push sidenav down */
#slide-out {
    top: 64px;
}