{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="column">
    {% for review in reviews %}
    <div class="col s12 m4">
        <div class="card small blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">student name: {{ review.student.name }}</span>
                <p>review: {{ review.text }}</p>
                <P>karma: {{ review.karma }}</P>
            </div>
            <div class="card-action">
                <form id="voteform" action="/reviews/{{ review.id }}/vote" enctype="application/x-www-form-urlencoded" method="post">
                    <input type="submit" name="type" value="upvote" class="btn">
                    <input type="submit" name="type" value="downvote" class="btn">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}