{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<h2>Review Manager Page </h2>

<!-- <div class="edit review">
    <a href="#" class="modal-trigger">
        <p href="#"  class="btn deep-purple lighten-2" > <span>edit review </span><i class="material-icons right ">edit</i> </p>
    </a>
        onclick="document.querySelector('#addstudentform').submit()" 
</div> -->

<div class="column">
    {% for review in reviews %}
    <div class="col s12 m4">
        <div class="card small grey lighten-4">
            <a href="#" onclick="deleteReview('{{ review.id }}')"><i class="material-icons red-text">delete</i> </a>
            <a 
                href="#review_modal" 
                class="modal-trigger"
                onclick="setReviewEdit(
                '{{review.id}}', '{{review.text}}')"
            ><i class="material-icons right ">edit</i> </a>
            <div class="card-content black-text">
                <span class="card-title">{{ review.student.name }}</span>
                <p>review: {{ review.text }}</p>
                <P>karma: {{ review.karma }}</P>
            </div>
            <div class="card-action">
                <form id="voteform" action="/reviews/{{ review.id }}/vote" enctype="application/x-www-form-urlencoded"
                method="post">
                    <!-- <input type="submit" name="type" value="upvote" class="btn">
                    <input type="submit" name="type" value="downvote" class="btn"> -->
                    <button class="btn indigo lighten-3 right" type="submit" name="type" value="downvote" class="btn"><span>{{
                            review.num_downvotes }} </span><i class="material-icons right">thumb_down</i></button>
                    <button class="btn indigo lighten-3 right" type="submit" name="type" value="upvote" class="btn"><span>{{
                            review.num_upvotes }} </span><i class="material-icons right">thumb_up</i></button>
                        </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Review Modal Structure -->
<div id="review_modal" class="modal">
    <form id="reviewform" target="_self" action="/review/" method="post">
        <div class="modal-content">
            <h4>Review</h4>
            <div class="input-field">
                <input placeholder="Review Text" name="review_text" id="review_text" type="text" class="validate">
                <label for="review_text">Review</label>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Post</a> -->
            <button type="submit" class="btn-flat">Post</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function setReviewEdit(review_id, review_text) {
        document.querySelector("#review_text").value = review_text
        form = document.querySelector('#reviewform')
        form.action = '/review/' + review_id
    }
    async function deleteReview(id) {
        await fetch("/review/" + id, {
            'method': 'delete'
        })
        window.location.href = ''
    }
</script>
{% endblock %}