{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<h2>{{student.name }}'s Reviews </h2>
<h5>Karma: {{ student.karma }}</h3>
<div class="colomn">
    {% for review in reviews %}
    
    <div id="{{ review.id }}" class="col s12 m4">
        <div class="card small grey lighten-4">
            <form id="voteform" action="/reviews/{{ review.id }}/vote" enctype="application/x-www-form-urlencoded"
                method="post">
                <!-- <a class="btn right"><span>{{ review.num_downvotes }} </span><i
                        class="material-icons right">thumb_down</i> </a>
                <a class="btn right"><span>{{ review.num_upvotes }} </span><i class="material-icons right">thumb_up</i>
                </a> -->
                <button class="btn indigo lighten-3 right" type="submit" name="type" value="downvote" class="btn"><span>{{
                        review.num_downvotes }} </span><i class="material-icons right">thumb_down</i></button>
                <button class="btn indigo lighten-3 right" type="submit" name="type" value="upvote" class="btn"><span>{{
                        review.num_upvotes }} </span><i class="material-icons right">thumb_up</i></button>
            </form>
            <div class="card-content black-text">
                <!-- <span class="card-title">  </span> -->
                <p>review: {{ review.text }}</p>
                <p>staff: {{ review.user.username }}</p>
                <!-- <p>{{ review.num_upvotes }}</p> -->
                <P>Karma: {{ review.karma }}</P>
            </div>
            <!-- <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div> -->
        </div>
    </div>
    {% endfor %}
</div>

<div class="fixed-action-btn">
    <a href="#review_modal" class="btn-floating btn-large red modal-trigger" onclick="setStudentID('{{student.id}}')">
      <i class="large material-icons">rate_review</i>
    </a>
  </div>

  <!-- Review Modal Structure -->
<div id="review_modal" class="modal">
    <form id="reviewform" target="_self" action="/review?student_id={{ student_id }}" method="post">
        <div class="modal-content">
            <h4>Review</h4>
            <div class="input-field">
                <input placeholder="Review Text" name="review_text" id="review_text" type="text" class="validate">
                <label for="review_text">Review</label>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Post</a> -->
            <button type="submit" class="btn-flat">Post</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function setStudentID(id) {
        form = document.querySelector('#reviewform')
        form.action = '/review?student_id=' + id
    }
</script>

{% endblock %}