{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
    {% for review in reviews %}
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ review.name }}</span>
                <p>{{ review.faculty }}</p>
                <p>{{ review.programme }}</p>
                <P>{{ review.karma }}</P>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}