{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}

<div class="colomn">
    {% for review in reviews %}
    
    <div id="{{ review.id }}" class="col s12 m4">
        <div class="card blue-grey darken-1">
            <form id="voteform" action="/reviews/{{ review.id }}/vote" enctype="application/x-www-form-urlencoded"
                method="post">
                <!-- <a class="btn right"><span>{{ review.num_downvotes }} </span><i
                        class="material-icons right">thumb_down</i> </a>
                <a class="btn right"><span>{{ review.num_upvotes }} </span><i class="material-icons right">thumb_up</i>
                </a> -->
                <button class="btn right" type="submit" name="type" value="downvote" class="btn"><span>{{
                        review.num_downvotes }} </span><i class="material-icons right">thumb_down</i></button>
                <button class="btn right" type="submit" name="type" value="upvote" class="btn"><span>{{
                        review.num_upvotes }} </span><i class="material-icons right">thumb_up</i></button>
            </form>
            <div class="card-content white-text">
                <span class="card-title"> {{ review.student.name }} Review </span>
                <p>review: {{ review.text }}</p>
                <!-- <p>{{ review.num_upvotes }}</p> -->
                <P>Karma: {{ review.karma }}</P>
            </div>
            <!-- <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div> -->
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}