{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div>
    <nav class="">
        <div class="nav-wrapper deep-purple lighten-3">
            <form id="search_form" action="/students" method="get">
                <div class="input-field">
                    <input id="search" id="search" type="search" name="search" type="search" 
                    placeholder="search student" onchange="document.querySelector('#search_form').submit()">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="add student">
    <a href="#student_modal" class="modal-trigger">
        <p href="#student_modal"  class="btn deep-purple lighten-2" > <span>add student </span><i class="material-icons right ">add</i> </p>
    </a>
        <!-- onclick="document.querySelector('#addstudentform').submit()" -->
</div>


<div class="row">
    {% for student in students %}
    <div class="col s12 m4">
        <div class="card small blue-grey darken-1">
            <a href="#" ><i class="material-icons red-text">delete</i> </a>
            <a href="#" ><i class="material-icons right ">edit</i> </a>
            <div class="card-content white-text">
                <span class="card-title ">Student Name: {{ student.name }}</span>
                <p>faculty: {{ student.faculty }}</p>
                <p>Degree: {{ student.programme }}</p>
                <P>Karma Rating: {{ student.karma }}</P>
            </div>
            <div class="card-action">
                <!-- <a class="modal-trigger" href="#review_modal" onclick="setStudentID('{{ student.id }}')">Review</a> -->
                <a class="modal-trigger" href="#review_modal" onclick="setStudentID('{{student.id}}')">Review</a>
                <a href="/student/{{ student.id }}">See Reviews</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function setStudentID(id) {
        form = document.querySelector('#reviewform')
        form.action = '/review?student_id=' + id
    }
</script>

<!-- Modal Structure -->
<div id="review_modal" class="modal">
    <form id="reviewform" target="_self" action="/review?student_id={{ student_id }}" method="post">
    <div class="modal-content">
      <h4>Review</h4>
        <div class="input-field">
            <input placeholder="Review Text" name="review_text" id="review_text" type="text" class="validate">
            <label for="review_text">Review</label>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Post</a> -->
        <button type="submit" class="btn-flat">Post</button>
    </div>
</form>
  </div>

<!-- Modal Structure -->
<div id="student_modal" class="modal">
    <form target="_self" action="/student" method="post">
    <div class="modal-content">
      <h4>Create Student</h4>
        <div class="input-field">
            <input placeholder="Student Name" id="name" name="name" type="text" class="validate">
            <label for="student_name">Name</label>
        </div>
        <div class="input-field">
            <input placeholder="Faculty" id="faculty" name="faculty" type="text" class="validate">
            <label for="faculty">Faculty</label>
        </div>
        <div class="input-field">
            <input placeholder="Programme" id="programme" name="programme" type="text" class="validate">
            <label for="programme">Programme</label>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Post</a> -->
        <button type="submit" class="btn-flat">Post</button>
    </div>
</form>
  </div>

{% endblock %}